<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Passkey Demo</title>
  </head>
  <body>
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="Enter your email"
    />
    <br />
    <button onClick="registerUser()">Register</button>
    <br />
    <button onClick="loginUser()">Login</button>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        if (!window.PublicKeyCredential) {
          alert(
            "WebAuthn is not supported on this browser. Please use a modern browser to use this demo."
          );
        }
      });

      function bufferDecode(value) {
        // Convert base64url to base64 by replacing "-" with "+" and "_" with "/"
        value = value.replace(/-/g, "+").replace(/_/g, "/");

        // Add padding if needed
        while (value.length % 4) {
          value += "=";
        }
        const decoded = atob(value);
        const array = new Uint8Array(decoded.length);
        for (let i = 0; i < decoded.length; i++) {
          array[i] = decoded.charCodeAt(i);
        }
        return array;
      }

      function registerUser() {
        const username = document.getElementById("email").value;
        if (!username) {
          alert("Please enter an email address");
          return;
        }

        fetch(`/register/begin/${username}`)
          .then((res) => res.json())
          .then((credentialCreationOptions) => {
            // decode challenge and user id as they are base64url encoded
            credentialCreationOptions.publicKey.challenge = bufferDecode(
              credentialCreationOptions.publicKey.challenge
            );
            credentialCreationOptions.publicKey.user.id = bufferDecode(
              credentialCreationOptions.publicKey.user.id
            );

            // create the credential
            return navigator.credentials.create({
              publicKey: credentialCreationOptions.publicKey,
            });
          })
          .then((credential) => {
            console.log("success");
            console.log(credential);
          })
          .catch((err) => console.error("Error:", err));
      }

      function loginUser() {
        alert("Login user not implemented yet");
      }
    </script>
  </body>
</html>
